*{
	margin: 0px;
	padding: 0px;
	font-family: century gothic;
	box-sizing: border-box;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(mochii.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 50%);
	float: left;
	width: 30%;
	text-align: center;
}

.title h1{
	color: white;
	font-size: 40px;
	text-decoration: underline;
}

.title h3{
	color: white;
	font-size: 40px;
}

.button{
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%, 50%);
	padding: 20px;
	float: left;
	width: 20%;
	text-align: center;
}

.btn{
	border: 1px solid white;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	transition: 0.6%;
}

.btn:hover{
	background-color: white;
	color: black;
}

.btn2{
	color: white;
	text-decoration: none;
	transition: 0.6%;
}

.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	float: left;
	width: 100%;
	text-align: center;
}

.content h6{
	color: white;
	font-size: 25px;
}

@media screen and (max-width:800px) {
	.title, .button {
		width: 100%;
	}
}